:root {
    --h-f-back-color: #74C69D;
    --main-back-color: #F5F5F5;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.menu {
    float: right;
}
.header {
    background-color: var(--h-f-back-color);
    width: 100%;
}

.logo-pic {
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}

.logo-txt {
    display: inline-block;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 500;
    color: #fff;
}

.main-img {
    max-width: 645px;
}
.center {
    text-align: center;
}
.logai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 68px;

}
.footer {
    background-color: var(--h-f-back-color);
    height: 125px;
    line-height: 125px;
}

.footer > a:first-child {
    margin-left: 130px;
}
.link {
   text-decoration: none;
   margin-right: 20px;
}
.link:hover {
    cursor: pointer;
}
.copyright {
    float: right;
    margin-top: 0;
    margin-right: 130px;
    color: #fff;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
}
